Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
doc/Makefile
doc/Makefile.in
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/stjerm
src/term.o
stamp-h1
